*.pyc
*__pycache__/

# Airflow
airflow/airflow.db
airflow/airflow-webserver.pid
airflow/logs/
airflow/dags/__pycache__/

# Docker
airflow/logs/
airflow/airflow.cfg

# Credentials
.env

# Python
venv/
env
*env

#terraform
.terraform

terraform.tfvars

venv
.terraform
.terraform.lock.hcl
*backup
*.tfstate

#dbt
target/
dbt_modules/
logs/
dbt_config